body
{
	background-color : #F0FFFF;
	color: #2F4F4F;
	 font-family: 'Open Sans', sans-serif;
	font-size:20px;
}


		.fb
	{
	font-family: 'Montserrat', sans-serif;
	margin: 2px;
	width: 280px;
	height: 80px;
	background-color: #00BFFF;
	text-align: center;
	center:auto;
}
	#kontakt
	{
	font-family: 'Montserrat', sans-serif;
	margin: 5px;
	width: 1320px;
	height: 200px;
	float: left;
    text-align: center;
	margin-top:20px;
	}
