body
{
	background-color : #F0FFFF;
	color: #2F4F4F;
	 font-family: 'Open Sans', sans-serif;
	font-size:20px;
}


		.fb
	{
	font-family: 'Montserrat', sans-serif;
	margin: 2px;
	width: 300px;
	height: 80px;
	background-color: #00BFFF;
	float: left;
	text-align: center;
}

#container
{
	width: 1540px;
	margin-right: auto;
	margin-left: auto;
	
}

.rectangle
{
	margin: 30px;
	width: 510px;
	height: 60px;
	font-size:60px;
	font-family: 'Amatic SC', cursive;
}

.rectangle2
{
	width: 1510px;
	margin: 20px;
	font-size:35px;
    font-family: 'Open Sans', sans-serif;
}


.square
{


}

.card{

margin: 2px;
float: left;
center: auto;
}
.tlo2
{
	margin-top: 5px;
	center:auto;
	width: 387px;
	height: 480px;
	float: left;
}

.tile1
{
	font-family: 'Montserrat', sans-serif;
	margin: 2px;
	width: 300px;
	height: 80px;
	background-color: #00BFFF;
	float: left;
	text-align: center;

}
.tile2
{
	font-family: 'Montserrat', sans-serif;
	margin: 2px;
	width: 300px;
	height: 80px;
	background-color: #00CED1;
	float: left;
    text-align: center;
}

.tlo{
	margin-top: 30px;
	width: 1510px;
	height: 740px;
	
}

.tlo3{
	margin-top: 30px;
	width: 532px;
	height: 589px;
	float: left;
}	

#galery
{
	font-family: 'Montserrat', sans-serif;
	margin-right: 200px;
	width: 387px;
	height: 480px;
	float: left;
   
}




a.linki
{
	color: #2F4F4F;
	text-decoration: none;
	
}

.tile1:hover
{
	background-color: #3094E3;
	
}
.tile2:hover
{
	background-color: #07A47E;
	
}
.tile3
{
	font-family: 'Montserrat', sans-serif;
	margin: 2px;
	width: 1100px;
	height: 376px;
	float: left;
    text-align: center;
}
.tile4
{
	font-family: 'Montserrat', sans-serif;
	margin: 2px;
	width: 387px;
	height: 480px;
	float: right;
    text-align: right;
}
.tile5
{
	font-family: 'Montserrat', sans-serif;
	margin-righ: 200px;
	width: 900px;
	height: 376px;
	float: left;
    
}

.tile7
{
	font-family: 'Montserrat', sans-serif;
	margin: 2px;
	width: 160px;
	height: 240px;
	float: right;
    text-align: right;
}

.tlo4{
	margin-top: 30px;
	width: 1510px;
	height: 740px;
	
}
